.gallery-container {
    background-color: black;
}

.slider {
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    right: 2rem;
    font-size: 5rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
    top: 50%;
    color: #FFE81F;
}

.left-arrow {
    position: absolute;
    left: 2rem;
    font-size: 5rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
    top: 50%;
    color: #FFE81F;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 2s;
}